<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <div>
        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam officiis quas dolore delectus neque voluptate sint autem dicta vero reiciendis! Vel voluptate ducimus dolorum vitae deleniti rem sint odio distinctio, asperiores assumenda tempora dolores natus!</p>
    </div>
</body>
</html>