<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div>
        <h1>Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor atque nemo magni aliquid saepe vel illo, possimus quisquam quasi nihil enim sequi consequatur modi distinctio quia accusantium quae ipsum totam a. Quod voluptatibus ex officiis eius voluptatum dolor nobis ratione, saepe consequatur libero similique hic atque eaque laudantium! Ratione molestias inventore reiciendis sed ex laudantium obcaecati asperiores ipsum eaque placeat. Voluptatum illo tempore obcaecati? Ea nesciunt voluptatibus ducimus, repudiandae excepturi officiis, placeat accusantium laudantium perspiciatis hic explicabo, voluptas ratione tempore quasi eum! Saepe eos similique modi!</p>
    </div>
</body>
</html>