<!-- On the rest of htmls like this one, we need to add extends first and the file -->
{% extends 'base.html' %}
<!-- Next to extends we will add load tag IF we need external css/js/img -->
{% load static %}

<!-- If we need any block from the base.html we just need to call it like this -->
{% block css %}
    <!-- For static tags like "link", "script" and "img" on the src or href property -->
    <!-- We follow the syntax {% static 'file.extension' %}-->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h1>Home Page using Jinja Tags!</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi ab nostrum voluptatem odit consequatur! Nulla aut distinctio ad nisi accusantium. Nihil eos nisi enim non vel earum omnis repellendus totam aut quam itaque corporis delectus praesentium neque eum, perferendis pariatur ullam incidunt excepturi! Assumenda, laudantium blanditiis nulla commodi, tempora sapiente dolore ea voluptatem vitae facere laborum doloribus quidem consectetur laboriosam, deleniti modi? Tempora necessitatibus laudantium amet doloribus repellat ea nam possimus, libero voluptatum eaque, laboriosam dolor officiis error voluptatibus, quas saepe praesentium. Veritatis fugit illo reprehenderit temporibus vel consequatur beatae praesentium illum neque.</p>
    <img src="{% static 'img/example.jpg' %}" alt="Example">
{% endblock %}

{% block js %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}